<!DOCTYPE html>
<html lang="en" ng-app="myapp" ng-controller="appController as ctrlr">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="favicon.ico">
  <title>Portfolio for Maxwell (Max) Struever</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

  <meta name="keywords" content="Maxwell Max Struever portfolio web design develop developer coder software engineer" />
  <meta name="description" content="A portfolio of some of the software development work Max Struever has done" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="styles/styles.css" />
</head>

<body>
  <md-toolbar layout="row" class="md-toolbar-tools" ng-cloak layout-align="space-between center">
    <md-button class="md-icon-button md-accent" hide-gt-sm ng-click="toggleLeft()" aria-label="Show Nav">
      <md-icon aria-label="settings" class="material-icons">settings</md-icon>
    </md-button>

    <h1 class="md-accent">Web Portfolio for Maxwell (Max) Struever</h1>
  </md-toolbar>
  <div layout="row" ng-cloak>
    <!--main content-->
    <!-- Side Nav Prefs -->
    <md-sidenav class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left">
      <md-content class="md-padding">
        <md-button class="md-icon-button" hide-gt-sm ng-click="toggleLeft()" aria-label="Show Nav">
          <md-icon aria-label="close" class="material-icons">close</md-icon>
        </md-button>
        <md-list>
          <!-- <md-subheader class="">Menu</md-subheader> -->
          <md-list-item>
            <strong>Portfolio </strong> --You're Here!
          </md-list-item>
          <md-divider></md-divider>

          <md-list-item>
            <md-button class="">
              <md-icon aria-label="help" class="material-icons">help_outline</md-icon> About Me
              <md-tooltip md-direction="botom">
                Working on this section...
              </md-tooltip>
            </md-button>
          </md-list-item>
          <md-list-item>
            Find me and my work elsewhere on the web
          </md-list-item>
          <md-list-item>
            <md-button class="md-raised md-accent" href="https://www.linkedin.com/in/maxstruever/" target="_blank">
              <md-icon aria-label="linkedin" class="material-icons">link</md-icon> LinkedIn
            </md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-raised md-accent" href="http://github.com/madmaxlax" target="_blank">
              <md-icon aria-label="github" class="material-icons">code</md-icon> GitHub
            </md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-raised md-accent" href="http://twitter.com/madmaxlax" target="_blank">
              <md-icon aria-label="twitter" class="material-icons">mode_comment</md-icon> Twitter
            </md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="md-raised md-accent" href="https://drive.google.com/uc?export=download&id=122nqPXrIIAsTb9TZ2400B9Ja8CU4xshs"
              target="_blank">
              <md-icon aria-label="download" class="material-icons">file_download</md-icon> Resume / CV
            </md-button>
          </md-list-item>
          <md-list-item>
            <md-button class="" href="mailto:hello [at] madmaxlax.com">
              <md-icon aria-label="email" class="material-icons">email</md-icon> Email
            </md-button>
          </md-list-item>

        </md-list>
      </md-content>
    </md-sidenav>
    <md-content flex layout="row" layout-wrap>
      <div flex="100">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Portfolio search</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content ng-hide="portfolio.items">
            Loading portfolio items, which are coming from a
            <a href="https://trello.com/b/bgLwimyQ/maxs-online-portfolio">Trello board as the backend</a>
          </md-card-content>
          <md-card-content ng-show="portfolio.items">
            <p>
              These are some examples of my work as a developer on the web. I love all kinds of developing, from the full stack, but lately
              my favorite is AngularJS for web apps.
              <br> Use the filter below to search through some of my stuff! Click or tap one for more detail.
            </p>
            <md-input-container>
              <label>Search here</label>
              <input ng-model="portfolioSearchText">
            </md-input-container> Found: {{portfolioFiltered.length}}
            <md-button class="md-raised" ng-click="portfolioSearchText = '' ">Clear Search
              <md-icon aria-label="clear filter" class="material-icons">close</md-icon>
            </md-button>
            <br> Or try some tags:
            <md-button class="md-raised md-accent" ng-click="portfolioSearchText = 'Highlights'">Highlights
            </md-button>
            <md-button class="md-raised md-accent" ng-click="portfolioSearchText = 'API'">API's
            </md-button>
            <md-button class="md-raised md-accent" ng-click="portfolioSearchText = 'Angular'">AngularJS
            </md-button>
            <md-button class="md-raised md-accent" ng-click="portfolioSearchText = 'ForFun'">For Fun
            </md-button>
            <md-button class="md-fab md-mini" ng-click="portfolioSearchText = 'Embarrassing'">🤔
            </md-button>
          </md-card-content>
          <!-- <md-card-actions layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions> -->
        </md-card>
      </div>
      <!-- dialog popup! -->
      <div style="visibility: hidden">
        <div class="md-dialog-container" id="portfolioItemDialog">
          <md-dialog>
            <form ng-cloak>
              <md-toolbar class="md-accent">
                <div class="md-toolbar-tools">
                  <h2 md-truncate>{{portfolioDetail.name}}</h2>
                  <span flex></span>
                  <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon aria-label="close" class="material-icons">close</md-icon>
                  </md-button>
                </div>
              </md-toolbar>

              <img class="cover" ng-if="getNameFromArray(portfolioDetail.attachments,'MainImage')" ng-src="{{portfolioDetail.currentImage.url}}"
                class="md-card-image" alt="screenshot" ng-attr-title="portfolioDetail.currentImage.name">
              <div class="image-buttons-wrapper">
                <div class="image-button-prev" ng-show="portfolioDetail.prevImageIndex !== false">
                  <md-button class="md-fab md-mini" ng-click="setPortfolioDetailImage(portfolioDetail.prevImageIndex)">
                    <md-icon aria-label="prev" class="material-icons ">chevron_left</md-icon>
                    <md-tooltip md-direction="botom">
                        Show Previous Screenshot
                      </md-tooltip>
                  </md-button>
                </div>
                <div class="image-button-next" ng-show="portfolioDetail.nextImageIndex !== false">
                  <md-button class="md-fab md-mini" ng-click="setPortfolioDetailImage(portfolioDetail.nextImageIndex)">
                    <md-icon aria-label="next" class="material-icons ">chevron_right</md-icon>
                    <md-tooltip md-direction="botom">
                        Show Next Screenshot
                      </md-tooltip>
                  </md-button>
                </div>
              </div>
              <md-dialog-content>
                <div class="md-dialog-content">
                  <div ng-bind-html="portfolioDetail.htmlDesc">
                    <!-- {{portfolioDetail.desc}} -->
                  </div>
                </div>
              </md-dialog-content>

              <md-dialog-actions layout="row" ng-if="getNameFromArray(portfolioDetail.attachments,'github') || getNameFromArray(portfolioDetail.attachments,'Link')">
                <md-button ng-if="getNameFromArray(portfolioDetail.attachments,'github')" target="_blank" class="md-raised" ng-href="{{getNameFromArray(portfolioDetail.attachments,'github').url}}">
                  <md-icon aria-label="github" class="material-icons">code</md-icon>
                  GitHub
                </md-button>
                <md-button ng-if="getNameFromArray(portfolioDetail.attachments,'Link')" target="_blank" class="md-raised md-accent" ng-href="{{getNameFromArray(portfolioDetail.attachments,'Link').url}}">Check it out
                  <md-icon aria-label="external link" class="material-icons">open_in_new</md-icon>
                </md-button>
              </md-dialog-actions>
            </form>
          </md-dialog>
        </div>
      </div>
      <div layout="row" layout-wrap>
        <div flex="100" ng-if="!portfolio.items">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Loading...
                </span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              Fetching portfolio items, which are coming from a
              <a href="https://trello.com/b/bgLwimyQ/maxs-online-portfolio">Trello board as the backend</a>
            </md-card-content>
          </md-card>
        </div>
        <div flex="100" flex-gt-xs="50" flex-gt-sm="33" flex-gt-lg="25" ng-repeat="site in portfolio.items | filter:portfolioSearchText as portfolioFiltered"
          ng-hide="getNameFromArray(site.labels,'embarrassing') && !portfolioSearchText.includes('Embarrassing')">
          <md-card class="portfolio-item" ng-click="showPortfolioDetail(site)">
            <img class="cover" ng-if="getNameFromArray(site.attachments,'MainImage')" ng-src="{{getNameFromArray(site.attachments,'MainImage').previews[4]?getNameFromArray(site.attachments,'MainImage').previews[4].url:getNameFromArray(site.attachments,'MainImage').url}}"
              class="md-card-image" alt="screenshot">
            <div class="item-date-wrapper" ng-if="site.due && getNameFromArray(site.attachments,'MainImage')">
              <div class="item-date">
                {{site.due | date:'MMM yyyy'}}
              </div>
            </div>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline" md-truncate>{{site.name}}</span>
              </md-card-title-text>
            </md-card-title>
            <div class="item-date-wrapper" ng-if="site.due && !(getNameFromArray(site.attachments,'MainImage'))">
              <div class="item-date">
                {{site.due | date:'MMM yyyy'}}
              </div>
            </div>
            <md-card-content>
              {{site.DescShowMore?site.desc:site.desc.substring(0,300)}}
              <div class="inline" ng-if="site.desc.length > 300 && !site.DescShowMore">...[Click to see details]
                <!-- <a ng-click="site.DescShowMore = !site.DescShowMore; " class="show-more">
                  Show All
                </a> -->
              </div>
              <div class="inline" ng-if="site.DescShowMore">
                <a ng-click="site.DescShowMore = !site.DescShowMore" class="show-more">
                  Hide full description
                </a>
              </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button ng-if="getNameFromArray(site.attachments,'github')" target="_blank" class="md-raised" ng-href="{{getNameFromArray(site.attachments,'github').url}}">
                <md-icon aria-label="github" class="material-icons">code</md-icon>
                GitHub
              </md-button>
              <md-button ng-if="getNameFromArray(site.attachments,'Link')" target="_blank" class="md-raised md-accent" ng-href="{{getNameFromArray(site.attachments,'Link').url}}">Check it out
                <md-icon aria-label="external link" class="material-icons">open_in_new</md-icon>
              </md-button>
            </md-card-actions>
          </md-card>
        </div>
        <div flex="100" ng-hide="true">
          <md-card>
            <!-- <img ng-src="http://via.placeholder.com/350x150" class="md-card-image" alt="Washed Out"> -->
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">And that's it!</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>

              </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button>Action 1</md-button>
              <md-button>Action 2</md-button>
            </md-card-actions>
          </md-card>
        </div>
      </div>
    </md-content>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- <script src="./scripts/bootstrap.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.1/markdown-it.min.js"></script>
  <script src="./scripts/app.js"></script>
</body>

</html>